.login-container {
    background-image: url("/login.jpg");
    background-size: cover;
    height: 95vh;
    /* width: 100%; */
    padding: 20px 1rem;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-form {
    border-radius: 2.5rem;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 48px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 30px;
    font-weight: 700;
    color: red;
    margin-bottom: 15px;
    letter-spacing: 0.75px;
}

.field-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin: 0.5rem;
    width: 100%;
}

.input-label {
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
}

.input {
    padding: 0.9rem 0.4rem;
    border-radius: 1rem;
    border: 1px solid gray;
    font-size: 1rem;
    margin-left: 10%;
    margin-right: 10%;
}

.login-button {
    max-width: 250px;
    width: 90%;
    border-radius: 20px;
    border: none;
    background-color: rgb(32, 170, 32);
    font-size: 1rem;
    color: white;
    padding: 0.9rem 0.4rem;
    margin: 20px 10px;
}


.secondary-buttons {
    border: none;
    background-color: transparent;
    font-size: 0.99rem;
    margin: 0px 40px;
}

.sec-buttons-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.footer {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-header-button {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer button {
    color: white;
}

.message {
    color: red;
}

@media (min-width: 660px) {
    .heading {
        font-size: 40px;
        letter-spacing: 1px;
    }

    .login-container {
        padding: 20px 4rem;
    }

    .footer-header-button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 900px) {
    .heading {
        font-size: 44px;
        letter-spacing: 1.1px;
    }

    .login-form {
        max-width: 750px;
    }

    .input-label {
        font-size: 18px;
    }
}

@media (min-width: 1000px) {
    .heading {
        font-size: 40px;
        letter-spacing: 1px;
    }

    .login-form {
        max-width: 675px;
    }

    .input-label {
        font-size: 16px;
    }
}

@media (min-width: 1300px) {
    .login-form {
        max-width: 540px;
    }
}