.sidebar {
  width: 280px;
  background: white;
  /* height: 100vh;  */
  /* border-right: 1px solid gray; */
  box-shadow: 7px -3px 20px 0px rgb(237, 234, 234);
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-size: 1rem;
  font-weight: 600;
  color: gray;
  margin-bottom: 2px;
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 0.5rem;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 9px;
  border-radius: 8px;
  margin: 0.3rem 0;
  color: gray;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sidebar-item:hover {
  background-color: #f5f5f5;
}


.sidebar-item .icon {
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
}
.dot-sidebar{
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-radius: 100%;
  margin-right: 2px;
}

.dot-sidebar.active{
  width: 12px;
  height: 12px;
  background-color: green;
  border-radius: 100%;
  margin-right: 2px;
}

.sidebar-item .label {
  flex: 1;
  font-size: 0.95rem;
}


@media (max-width: 1100px) {
  .sidebar {
    /* display: none; */
    position: absolute;
    left: -330px;
    transition: 0.3s ease-in-out;
  }
  .sidebar.active {
    /* display: flex; */
    position: fixed;  /* not sure */
    left: 0px;
    transition: 0.3s ease-in-out;
  }
}
