.term-container {
    background-image: url("login.jpg");
    background-size:cover;
    background-attachment: fixed;
    padding: 20px 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position:static;
    align-items: center;
    padding-top: 100px;
    gap: 20px;
}

.terms-heading {
    color: white;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

.term-text {
    background-color: white;
    padding: 40px 40px;
    max-width: 700px;
    border-radius: 20px;
    color: gray;
}
